<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="LakeQuincy.UrlMapper" type="LakeQuincy.UrlMapper.UrlMapperSectionHandler, LakeQuincy.UrlMapper" />
	</configSections>
	<LakeQuincy.UrlMapper forceWww="remove" forceHostname="regexlib.com">
		<entries>
			<entry pattern="(?&lt;basedir>.*?)/UserPatterns\.aspx\?authorId=1081" target="{basedir}/UserPatterns.aspx?authorId=a31a0874-118f-4550-933e-a7c575d149ae" type="fixlink" />
		</entries>
	</LakeQuincy.UrlMapper>
	<appSettings>
		<add key="UrlStartPath" value="RegExLib.com" />
		<!-- Application name when hosted on localhost -->
		<add key="DefaultCacheTimeoutSeconds" value="120" />
		<!-- Seconds (3600 = 1 hour) -->
		<add key="ApplicationConnectionStringName" value="RegexLib2" />
		<add key="FeedItemCount" value="20" />
		<add key="MailServer" value="localhost" />
		<add key="AdminEmail" value="ssmith@aspalliance.com" />
		<add key="DeveloperEmail" value="benrick@lakequincy.com" />
	</appSettings>
	<connectionStrings>
<!-- Data Source=.\sqlexpress;Initial Catalog=JeffreyPalermo;Trusted_Connection=yes -->
		<add name="RegexLib2" connectionString="Data Source=.\sqlexpress;Initial Catalog=RegExLib;Trusted_Connection=yes" providerName="System.Sql.DbClient" />
		<add name="regexlibConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=RegExLib;Persist Security Info=True;Trusted_Connection=yes" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="donotreply@regexlib.com">
				<network host="localhost" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<httpRuntime requestValidationMode="2.0" />
		<pages theme="Green" validateRequest="false" masterPageFile="~/MasterPage.master" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add namespace="RegExLib.Web.UI.Controls" tagPrefix="rel" assembly="RegexLib.com" />
				<add namespace="RssEngine" tagPrefix="rss" assembly="RegexLib.com" />
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<httpHandlers>
			<add path="Rss.aspx" verb="POST,GET,HEAD" type="RegExLib.Framework.RssHandler" />
			<add path="RssComments.aspx" verb="POST,GET,HEAD" type="RegExLib.Framework.RssHandler" />
			<add path="PrivateRss.aspx" verb="POST,GET,HEAD" type="RegExLib.Framework.RssHandler" />
			<add path="PrivateRssComments.aspx" verb="POST,GET,HEAD" type="RegExLib.Framework.RssHandler" />
		</httpHandlers>
		<httpModules>
			<add name="UrlMapper" type="LakeQuincy.UrlMapper.UrlMapperModule,LakeQuincy.UrlMapper" />
			<add name="EmailErrorModule" type="EmailErrorModule" />
		</httpModules>
		<anonymousIdentification enabled="true" cookieName="REGEXLIBANON" cookieTimeout="43200" cookiePath="/" cookieRequireSSL="false" cookieProtection="All" cookieSlidingExpiration="true" cookieless="AutoDetect" />
		<authentication mode="Forms">
			<forms timeout="129600" loginUrl="Login.aspx" defaultUrl="Default.aspx" protection="All" path="/" name="REGEXLIBAUTH" />
		</authentication>
		<caching>
			<sqlCacheDependency enabled="true" pollTime="1000">
				<databases>
					<add name="Production" connectionStringName="RegexLib2" />
				</databases>
			</sqlCacheDependency>
		</caching>
		<membership>
			<providers>
				<remove name="AspNetSqlMembershipProvider" />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="RegexLib2" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="7" passwordAttemptWindow="10" />
			</providers>
		</membership>
		<profile enabled="true" automaticSaveEnabled="true" defaultProvider="TableProfileProvider">
			<providers>
				<clear />
				<add name="TableProfileProvider" type="RegExLib.SqlTableProfileProvider" connectionStringName="RegexLib2" table="rxl_Profile" applicationName="/" />
				<!-- 
				<remove name="AspNetSqlProfileProvider" />
				<add name="AspNetSqlProfileProvider"
					connectionStringName="RegexLib2"
					applicationName="/"
					type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				-->
			</providers>
			<properties>
				<add name="OptionsPanelSet" type="System.Boolean" defaultValue="false" allowAnonymous="true" customProviderData="OptionsPanelSet;Bit" />
				<add name="OptionsPanelExpanded" type="System.Boolean" defaultValue="true" allowAnonymous="true" customProviderData="OptionsPanelExpanded;Bit" />
				<add name="FullName" type="System.String" defaultValue="" allowAnonymous="true" customProviderData="FullName;nvarchar" />
			</properties>
		</profile>
		<roleManager enabled="true">
			<providers>
				<remove name="AspNetSqlRoleProvider" />
				<add connectionStringName="RegexLib2" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
		</roleManager>
		<webParts>
			<personalization>
				<providers>
					<remove name="AspNetSqlPersonalizationProvider" />
					<add connectionStringName="RegexLib2" name="AspNetSqlPersonalizationProvider" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				</providers>
			</personalization>
		</webParts>
		<customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.aspx">
			<error statusCode="404" redirect="Error404.aspx" />
		</customErrors>
		<!-- Mappings for url's which will change from the old site to the new site -->
		<urlMappings enabled="true">
			<add url="~/WebServices/RegExLib.asmx" mappedUrl="~/WebServices.asmx" />
			<add url="~/Add.aspx" mappedUrl="~/Edit.aspx" />
			<add url="~/CheatSheet.htm" mappedUrl="~/CheatSheet.aspx" />
			<!--<add url="~/WebServices.asmx" mappedUrl="~/WebServices/RegexLib.asmx"/>-->
			<add url="~/Rate.aspx" mappedUrl="~/Default.aspx" />
			<!-- This page existed at one point in time but no longer exists -->
		</urlMappings>
		<!-- Tracing for Debug Only -->
		<trace enabled="true" localOnly="true" pageOutput="false" requestLimit="50" />
	</system.web>

<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
<modules runAllManagedModulesForAllRequests="true"> 
          <remove name="UrlRoutingModule" /> 
          <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /> 
        </modules>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,Rewrite" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:20" statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing> 
	</system.webServer>

	<location path="Rate.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Add.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Edit.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="EditProfile.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="~/Administration">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<system.diagnostics>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<!--<remove name="Default"/>
        <add name="EventLogListener"
         type="System.Diagnostics.EventLogTraceListener"
         initializeData="LLBLGen" />-->
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
